# Node.js dependencies
node_modules/

# Environment variables
.env


# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Optional: Ignore coverage reports or build output
coverage/
dist/
