<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="icon" type="image/png"
        href="https://media.licdn.com/dms/image/v2/D5603AQHCgvnGewxUxA/profile-displayphoto-shrink_400_400/B56Zch7E49G0Ak-/0/1748620825165?e=1755734400&v=beta&t=-P56pMvRfXbJYJuyld04kI85Vzzo_qrI2V-zDxjoC5I">

    <%- include("./partials/head") %>
</head>

<body class="bg-secondary">
    <%- include("./partials/nav") %>

        <div class="container mt-4">
            <form action="/user/resetpassword" method="POST" style="max-width: 400px; margin: auto;"
                class="p-4 bg-white rounded shadow-sm">
                <input type="hidden" name="token" value="<%= token %>">
                <div class="mb-3">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="newPassword" name="password" required>
                </div>
                <button type="submit" class="btn btn-success w-100">Update Password</button>
            </form>

        </div>

        <%- include("./partials/script") %>
</body>

</html>